@tailwind base;
@tailwind components;
@tailwind utilities;

.binary-grid {
    grid-template-columns: repeat(4, 1fr);
    direction: rtl;
}

@media (min-width: 400px) {
    .binary-grid {
        grid-template-columns: repeat(8, 1fr);
    }
}

@media (min-width: 800px) {
    .binary-grid {
        grid-template-columns: repeat(16, 1fr);
    }
}

@media (min-width: 1600px) {
    .binary-grid {
        grid-template-columns: repeat(32, 1fr);
    }
}